@import 'primeicons/primeicons.css';
@import 'checkbox.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: local('Inter'), local('Inter-Regular'), url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Inter', sans-serif;
}

.bg-gradient {
    background: linear-gradient(45deg, theme('colors.yellow.100'), theme('colors.orange.100'), theme('colors.red.100'), theme('colors.fuchsia.100'));
}

.regex-result {
    @apply font-bold text-orange-500;
}

@layer components {
    h3 {
        @apply text-xl border-t border-slate-200 text-slate-700 p-4 bg-slate-200 uppercase;
    }
}

label,
input[type="checkbox"] {
    cursor: pointer;
}

.breadcrumbs {
    > li::before {
        content: '/';
        display: inline-block;
        margin: 0 6px;
    }

    > li:first-child::before {
        content: "";
        margin: 0;
    }
}
